.well {
  text-align: center;
  width: 33%;
  margin-left: auto;
  margin-right: auto;
}
body{
  background-color: #DBF0F7;
  text-align:center;
  font-family: fantasy;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}
.clickable:hover {
  text-decoration: underline;
}
.initially-hidden{
  display:none;
  font-size: 20px;
  }
.hiddentext2, .hiddentext3, .hiddentext4, .hiddentext5{
  display: none;
  font-size: 18px;
}
.block1{
  background-color: red;
  text-align: center;
  width: 33%;
  margin-left: auto;
  margin-right: auto;
}
