.well {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
html{
  height: 100%;
}

body{
  background: linear-gradient(#D7BDE2, #EBDEF0, #F5EEF8);
  text-align:center;
  font-family: bradley hand;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}
.clickable:hover {
  text-decoration: underline;
}
.initially-hidden{
  display:none;
  font-size: 20px;
  }
.hiddentext2{
  display: none;
  font-size: 18px;
}
